VITE_SUPABASE_URL=https://hocsczpwwswakviigcyw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvY3NjenB3d3N3YWt2aWlnY3l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxOTAzOTgsImV4cCI6MjEwMjc2NjM5OH0.afnwg_En4ILCgB-UbzRGpaBeAdhHz2IB0CBvFD9keqE
VITE_YOUTUBE_API_KEY=your-youtube-api-key-here
